body {
  background-color: #b2f1f1;
}

.search-container {
  background: #fff;
  height: 30px;
  width: 350px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  margin: 20px 0 0 450px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
}

.search-container:hover > .search-input {
  width: 400px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.search-container .search-btn .fas {
  color: #5cbdbb;
}

.disease-container {
  width: 100%;
  height: 400px;
  margin-top: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.disease-container2 {
  width: 100%;
  position: absolute;
  height: 400px;
  bottom: -30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.disease-label {
  border: 1px solid rgb(98, 109, 98);
  margin: 10px;
  width: 250px;
  height: 150px;
  border-radius: 10px;
}
.disease-label h4 {
  padding-left: 70px;
  background: green;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.disease-label img {
  width: 150px;
  margin-left: 40px;
}
